@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

#root{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;

    /* display: flex; */
}

/* body{
    background:linear-gradient(270deg,     #1A120B 0%,
    #3E065F 25%,
    #700B97 50%,
    #8E05C2 100%)
} */

.container{
    display: flex;
    /* justify-content: center;
    align-items: center; */

}